/* General CSS  */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Tilt+Neon&display=swap');



*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {

    /* Background Color */
    --bg-dark: #111;
    --bg-white: #fff;

    /* Text Colors */
    --primary-text: #061738;
    --secondary-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /* green color */
    --primary-green: #00ED64;
    --secondary-green: #13aa52;
    --tertiary-green: #023430;

    /*  */

    /* Font Family */
    --primary-font: 'Tilt Neon', cursive;
    --secondary-font: 'Caveat Brush', cursive;
}


body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

.news h1,
.news h2,
.news h3,
.news h4,
.news h5,
.news h6,
.news p {
    margin: 0;
}

.news h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--primary-text);
}

.news h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.news h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--primary-text);
}

.news h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}


.news p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--primary-text);
}

.news embed,
iframe,
img,
object {
    max-width: 100%;
}

/* ::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background:var(--white); 
} 
::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
}   */



/* button */

.news .main-btn {
    background-color: #00ED64;
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    border: 1px solid #111;
    border-radius: 4px;
    font-family: var(--primary-font);
    transition: 0.1s;
}

.news .main-btn:hover {
    border-radius: 30px;
}


/* navbar */
.news .eventRemainder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5px;
    background-color: var(--secondary-green);
}

.news .eventBtn {
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--primary-font);
    color: var(--text-white);
}

.news nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 9;
    transition: 0.7s;
    background-color: var(--bg-white);
}

.news .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news .navbarLogo {
    width: 70px;
    height: 50px;
    margin: 0 30px;
}

.news nav .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news nav .container ul li {
    display: inline-block;
    margin: 0 24px;
}

.news nav .container ul li a {
    font-size: 20px;
    color: var(--primary-text);
}


/* banner style */
.news .bannerContainer {
    width: 100%;
    height: 40vh;
    background-image: url(/assets/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    padding: 50px;
    margin-bottom: 50px;
}


/* newsContainer */

.news .Heading {
    text-align: center;
}

.news .newsList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    margin: 50px;
}

.news .newsBlock {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    gap: 20px;
    /* align-items: center; */
    padding: 20px;

    background: #ccc;
    border: 1px solid var(--tertiary-green);
    border-radius: 20px;

    cursor: pointer;

    transition: 0.3s;
}

.news .newsBlock:hover {
    width: 370px;
    border: 2px solid var(--tertiary-green);
}

.news .newsBlock img {
    border-radius: 20px;
}


/* footer */
.news .footerContainer {
    display: flex;
    justify-content: space-between;
    margin: 70px 30px 50px 30px;
    padding: 30px 50px 30px 50px;

    box-sizing: border-box;
    /* margin: 7rem 3rem 5rem 3rem; */
    /* padding: 3rem 5rem 3rem 7rem; */
    border-radius: 50px;
    min-height: 60vh;
    background: linear-gradient(
      to left,
      var(--tertiary-green),
      var(--secondary-green)
    );
  
}

.news .logoContainer {
    text-align: center;
}

.news .logoContainer img {
    width: 80px;
    margin: 0 40px;
}

.news .pageLinks ul li {
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
}

.news .social-icon ul {
    list-style-type: none;
}

.news .social-icon ul li a {
    font-size: 25px;
    color: #111;
}

.news .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #ccc;
}




/* responsive design */
@media only screen and (max-width: 600px) {
    nav .container ul li {
        margin: 0 15px;
    }

    nav .container ul li a {
        font-size: 15px;
    }
}

